.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar {
  position: relative;
  width: 300px;
  text-align: center;
  /* background-color: aliceblue; */
}

.profile {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 10%;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgb(240, 241, 242);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
}

.newBox {
  height: 100px;
  height: 30px;
  border-radius: 20%;
  background-color: lightgreen;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 10px;
  right: 20%;
}

/* AppCounter */
.counterContainer {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  border: 1px solid orange;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counterNumber {
  font-size: 50px;
}

.counterButton {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
}

.counterBanner {
  height: 3rem;
  background-color: orange;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 1rem;
}

